a:link {
    color: #adb0ff;
    background-color: #664C77;
    text-decoration: none;
}

a:visited {
    color: #adb0ff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #4fcddb;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #f57373;
    background-color: transparent;
    text-decoration: none;
}

h1 {
    color: #000000;
}

body {
    background-image: url('2kmarbleredone.png');
    color: #160045;
}

header {
  text-align: center;
  font-family: "Lugrasimo", monospace; "Comic Sans MS";
  margin:25px;
  background-image: "2kmarbleredone.png";
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* Within font-family, you can specify a list of fonts, with each successive font being a fallback if the previous one cannot be loaded. It is best practice to end the list with a generic font name, which lets the browser select an appropriate fallback. */
}

footer {
    background-image: linear-gradient(#160045, #160045, #080019);
    background-color: #1c2140;
    margin: -8px;
}

.PortalButton {
    background-color: #ffffff;
    border: solid #c6c6c6 2.5px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: "none";
    display: inline-block;
    color: #808080;
    font-size: 20px;
    margin: 5px 50px;
    cursor: pointer;
    box-shadow: 0 8px #c6c6c6;
}

.body2 {
    background-image: url("2kmarbleredone.png");
    background-color:#000000;
    margin: 50px 25px 25px 0px;
    padding: 15px 25px;
   
}
